<div class="col-md-12">

    {{#if messages.error}}
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Failed</h4>
            <p>{{messages.error}}</p>
        </div>
    {{/if}}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{judul}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" method="POST" action="/permissions/update/{{permissions.id}}?_method=PUT" >
            <div class="box-body">
                <div class="form-group">
                    <label for="label">Label</label>
                    <input type="text" class="form-control" name="label" id="label"
                           placeholder="Enter description" value="{{permissions.label}}">
                </div>
                <div class="form-group">
                    <label for="value">Value</label>
                    <input type="text" class="form-control" id="value" name="value" placeholder="Value" value="{{permissions.value}}">
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>